@model Vidly.Models.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 


    var className = Model.Customers.Count >0 ? "popular" : null;
}

<h2 class="@className">@Model.Movie.Name</h2>
@{ 

    if(Model.Customers.Count==0)
    {

        <text>n one has rented this movie</text>
    }
    else
    {

        <ul>
            @foreach(var cust in @Model.Customers)
            {
            <li>@cust.Name</li>

            }
        </ul>
    }


}

